.venv/
__pycache__/
**/__pycache__/
**/__pycache__/**
*.py[cod]
**/*.py[cod]
*.egg-info/
**/*.egg-info/
**/*.egg-info/**
.pytest_cache/
.mypy_cache/
build/
dist/
wheels/
.DS_Store
.idea/
.vscode/
*.log
tmp/
.git/
.gitignore
.dockerignore
Dockerfile
